.feat-header{
    text-align: center;
    font-size: 3vw;
    color: #75522d;
}
.feat-flex{
    display: flex;
    width: 100%;
}
.feat-left, .feat-right{
    flex: 1;
    padding: 5%;
}
.feat-left img{
    width: 100%;
}
.feat-right p{
    text-align: justify;
    line-height: 30px;
}
.sack-img{
    width: 70%;
    margin-top: 50px;
}